.about-section{
    height: 100vh;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

}

.about-left, .about-right{
    flex: 1;
    padding: 20px;
}

.about-left img{
    width: 100%;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    object-fit: cover;
    
}

.about-right h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.about-right p{
    font-size: 18px;
    line-height: 1.8;
}