.about-container{
    padding: 80px 0;
}

.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 40px;
}

.about-left, .about-right{
    flex: 1;
    padding: 20px;
}

.about-left img{
    width: 100%;
    max-height: 350px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.about-right h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.about-right p{
    font-size: 18px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    
  .about-section{
    flex-direction: column;
    padding: 20px;
  }
  .about-right h2{
  font-size: 28px;
  }
  .about-right p{
  font-size: 16px;
  }
}
