.campus-container {
  padding: 80px 0;
  min-height: 100vh;
}

.campus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.campus-card {
    border-radius: 12px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.campus-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.campus-card:hover {
    transform: translateY(-6px);
}

.campus-loc {
    background-color: var(--text);
    padding: 8px;
    border-radius: 8px;
    width: 80%;
    margin: 50px auto 0 auto;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
