:root{
    --primary:#000C4F;
    --secondary:#E5E7EB;
    --tertiary:#9CA3AF;
    --text:#FFFFFF;
}

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.image-container{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 12, 79, 0.5);
    z-index: 1;
}

.hero-img{
    width: 100%; 
    height: 80%;
    border-radius: 9999px;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
    margin-top: 64px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    padding: 0 16px;
    position: relative;
    z-index: 2; 
}

h1{
    font-size: clamp(24px, 5vw, 48px);
    font-weight: 700;
    color: var(--text);
    margin-bottom: 16px;
    line-height: 1.2;
}

h4{
    color: var(--text);
    font-size: clamp(12px, 5vw, 18px);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 8px;
}

.hero-content button{
    width: fit-content;
    margin-top: 24px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #333333; 
    background-color: var(--secondary);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero-content > button:hover{
    background-color: var(--tertiary);
    transform: translateY(-2px);
}

#rightArrow{
    width: 24px;
}