:root {
  --primary: #000c4f;
  --secondary: #212ea0;
  --text-main: #333;
  --text-light: #676767;
  --transition: all 0.4s ease;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: absolute;
  inset: 0;
  padding: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 12, 79, 0.5);
  z-index: 1;
}

.hero-img {
  width: 100%;
  height: 80%;
  border-radius: 9999px;
  object-fit: cover;
  display: block;
  filter: brightness(70%);
  margin-top: 64px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: clamp(24px, 5vw, 48px);
  font-weight: 700;
  color: var(--text);
  margin-bottom: 16px;
  line-height: 1.2;
}

h4 {
  color: var(--text);
  font-size: clamp(14px, 4vw, 18px);
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 8px;
}

.hero-content button {
  width: fit-content;
  margin-top: 24px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  background-color: var(--text);
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-content button:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
  color: var(--text);
}

.hero-content button:hover #rightArrow {
  transform: translateX(4px);
  transition: transform 0.2s ease;
}

#rightArrow {
  width: 24px;
}

@media (max-width: 1024px) {
  .hero-img {
    height: 95%;
    margin-top: 72px;
  }

  .hero-content {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .image-container {
    padding: 12px;
  }

  .hero-img {
    height: 90%;
    margin-top: 72px;
    border-radius: 24px;
  }

  .hero-content {
    padding: 0 12px;
  }

  h1 {
    font-size: 28px;
  }

  h4 {
    font-size: 14px;
  }

  .hero-content button {
    padding: 10px 20px;
    font-size: 14px;
  }

  #rightArrow {
    width: 20px;
  }
}

@media (max-width: 480px) {
  #logo h3 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-img {
    height: 90%;
    margin-top: 54px;
  }

  h1 {
    font-size: 24px;
  }

  h4 {
    font-size: 13px;
  }
}
