:root{
    --primary:#000C4F;
    --secondary:#E5E7EB;
    --tertiary:#9CA3AF;
    --text:#FFFFFF;
    --accent:#181818;
}


.container{
    height: 100vh;
    padding-top: 100px;
    text-align: center;
}

.container h2{
    color: var(--accent);
    font-size: 28px;
}
.container h4{
    color: var(--primary);
    font-size: 18px;
}

.program-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 36px;
}

.card {
  border-radius: 12px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none; 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover .card-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.facilities {
    color: var(--accent);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.facility-list{
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.facility-list h4:nth-child(odd){
    background-color: var(--primary);
    color: var(--text);
    padding: 4px 8px;
    border-radius: 8px;
}

.facility-list h4:nth-child(even){
    background-color: var(--secondary);
    color: var(--accent);
    padding: 4px 8px;
    border-radius: 8px;
}