.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title-container h2{
    color: var(--accent);
    font-size: 28px;
}
.title-container h4{
    color: var(--primary);
    font-size: 18px;
}